#indexContent {
    text-align: center;
    padding: 20px;
}

#indexContent h2 {
    font-size: 3rem;
}

#projectDetails {
    padding: 20px;
}

#projectDetails h3 {
    font-size: 2.5rem;
    font-weight: normal;
}


#pagesDetails {
    font-size: 2rem;
    padding: 20px;
    text-align: left;
}

.pageDetails {
    padding: 20px 0;

}

@media screen and (min-width: 996px) {
    #pagesDetails {
        padding: 20px 20%;
    }
}