#siteContainer {
    display: flex;
    flex-direction: column;
}

#siteContent {
    position: relative;
}

/*
    ===================================
        SITE HEADER
    ===================================
*/
#siteHeader {
    font-size: 2rem;
    padding: 10px 0 ;
}

#siteHeaderAnchor {
    width: 100%;
    height: 100%;
    color: black;
}

/*
    ===================================
        SITE NAV
    ===================================
*/
#siteNav {
    position: sticky;
    top: 0;
    left: 0;
    background: #262626;
    z-index: 100;
    border: 4px groove silver;
    border-width: 4px 0;
}

#siteNavList {
    list-style: none;
    width: 100%;
    display: none;
    flex-direction: column;
    height: 100%;
}

body.mobileNavActive {
    overflow: hidden;
}

#siteNav.mobileNavActive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#siteNav.mobileNavActive #siteNavList {
    display: flex;
    height: calc(100vh - 50px); /* 100vh - siteNav height, 50px - mobile button height */
}

.siteNavListItem {
    width: 100%;
    height: 20%;
    position: relative;
    cursor: pointer;
    background: linear-gradient(to right, transparent, silver, transparent) no-repeat bottom / 60% 2px,
        linear-gradient(to right, transparent, silver, transparent) no-repeat top / 60% 2px;
}

.siteNavListItem a:after {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: all 0.3s ease;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.siteNavListItem:hover a:after {
    opacity: 1;
}

.siteNavListItem a {
    color: silver;
    height: 100%;
    width: 100%;
    font-size: 2rem;
}

.siteNavListItem.currentSite a {
    font-weight: bold;
}

.siteNavListItem.currentSite a:after {
    opacity: 1;
}

@media screen and (min-width: 996px) {
    #siteNavList {
        display: flex;
        flex-direction: row;
    }

    .siteNavListItem {
        width: 20%;
        height: 50px;
        background: linear-gradient(to bottom, transparent, silver, transparent) no-repeat left / 2px 60%,
            linear-gradient(to bottom, transparent, silver, transparent) no-repeat right / 2px 60%;
    }
}

/*
    ===================================
        SITE NAV MOBILE BUTTON
    ===================================
*/
#siteNavMobileButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 50px;
    width: 50px;
    margin: 0 0 0 auto;
    cursor: pointer;
}

.siteNavMobileButtonPart {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: silver;
    transition: all 0.3s ease;
}

#siteNavMobileButton.mobileNavActive .siteNavMobileButtonPart:first-child {
    transform: translateY(15px) rotate(45deg);
}

#siteNavMobileButton.mobileNavActive .siteNavMobileButtonPart:nth-child(2) {
    opacity: 0;
}

#siteNavMobileButton.mobileNavActive .siteNavMobileButtonPart:last-child {
    transform: translateY(-15px) rotate(-45deg);
}

@media screen and (min-width: 996px) {
    #siteNavMobileButton {
        display: none;
    }
}


/*
    ===================================
        SITE MAIN
    ===================================
*/

#siteContent {
    height: auto;
    min-height: 100vh;
}


/*
    ===================================
        SITE NAV FOOTER
    ===================================
*/
#siteFooter {
    font-size: 1.5rem;
    padding: 10px 0;
    background: linear-gradient(to bottom, #727272, silver, #727272);
}