<article class="toDo">
    <header class="toDoHeader">
        <h3 class="toDoTitle">
            <label>
                <input type="text" class="toDoTitleInput" placeholder="Tytuł...">
            </label>
        </h3>
        <nav class="toDoNav">
            <ul class="toDoNavList">
                <li class="toDoMinimize toDoNavListItem flexCentered">Minimalizuj</li>
                <li class="toDoDelete toDoNavListItem flexCentered">Usuń</li>
            </ul>
        </nav>
    </header>
    <main class="toDoItems">
        <ul class="toDoItemsList">
        </ul>
    </main>
    <footer class="toDoFooter">
        <nav class="toDoItemsNav">
            <ul class="toDoItemsNavList">
                <li class="toDoItemsNavListItem toDoItemsAddNew flexCentered">Dodaj nowe zadanie</li>
                <li class="toDoItemsNavListItem toDoItemsClearDone flexCentered">Usuń wykonane zadania</li>
            </ul>
        </nav>
    </footer>
</article>